<div class="relative z-10 hidden" aria-labelledby="slide-over-title" role="dialog" aria-modal="true" data-controller="slide-over">
  <!--
    Background backdrop, show/hide based on slide-over state.

    Entering: "ease-in-out duration-500"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in-out duration-500"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-600 bg-opacity-75 transition-opacity" data-slide-over-target='overlay'></div>

  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden" data-slide-over-target="secondaryOverlay">
      <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
        <!--
          Slide-over panel, show/hide based on slide-over state.

          Entering: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div class="pointer-events-auto w-screen max-w-md" data-slide-over-target='slideOver'>
          <div class="flex h-full flex-col overflow-y-scroll bg-main-black text-slate-200 py-6 shadow-xl">
            <div class="px-4 sm:px-6">
              <div class="flex items-start justify-between">
                <h2 class="text-xl font-bold" id="slide-over-title" data-slide-over-target='name'>Cafe name</h2>
                <div class="ml-3 flex h-7 items-center">
                  <button type="button" class="rounded-md bg-main-black text-slate-200 hover:text-slate-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" data-action="click->slide-over#closeSlideOver">
                    <span class="sr-only">Close panel</span>
                    <!-- Heroicon name: outline/x-mark -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="relative mt-6 flex-1">
              <!-- Replace with your content -->
              <div>
                <div class="relative h-40 sm:h-56">
                  <img class="absolute h-full w-full object-cover" data-slide-over-target='image' src="" alt="">
                </div>
              </div>

              <div class="mt-6 px-4 sm:mt-8 sm:px-6">
                <div class='flex w-full mb-6'>
                  <div class='flex-1 '>
                    <h4 class='mb-1 text-slate-400 italic'>Rating</h4>
                    <div class='' data-slide-over-target='rating'>
                    </div>
                  </div>

                  <div class='flex-1'>
                    <h4 class='mb-1 text-slate-400 italic'>Coffee</h4>
                    <div class=''>
                      <%= icon('coffee', icon_color: '#fff') %>
                    </div>
                  </div>

                  <div class='flex-1'>
                    <h4 class='mb-1 text-slate-400 italic'>Plugs</h4>
                    <div class=''>
                      <%= icon('plugs', icon_color: '#fff') %>
                    </div>
                  </div>
                </div>

                <div class='w-full mb-6'>
                  <h4 class='mb-1 text-slate-400 italic'>Wifi</h4>
                  <div class='flex items-center'>
                    <%= icon('wifi', icon_color: '#fff') %>
                    <div class='flex-1 flex justify-center items-center'>
                      <%= icon('download', icon_color: '#93fcf2') %>
                      <span class='ml-2 mr-4' data-slide-over-target='downloadSpeed'>20mbps</span>
                      <%= icon('upload', icon_color: '#b477f7') %>
                      <span class='ml-2' data-slide-over-target='uploadSpeed'>7mbps</span>
                    </div>
                    <div class='w-5/12' data-bs-toggle="tooltip" title="Click to copy password" data-action='click->slide-over#copy'>
                      <div class='text-xs break-all'>Name: <span data-slide-over-target='wifiName'></span></div>
                      <div class='text-xs break-all'>Password: <span data-slide-over-target='wifiPassword'></span></div>
                    </div>
                  </div>
                </div>

                <div class='w-full mb-6 flex'>
                  <div class='flex-1'>
                    <h4 class='mb-1 text-slate-400 italic'>Seating</h4>
                    <div class='' data-slide-over-target='seating'></div>
                  </div>
                  <div class='flex-1'>
                    <h4 class='mb-1 text-slate-400 italic'>Outdoor</h4>
                    <div class='' data-slide-over-target='outdoorSeating'></div>
                  </div>
                </div>
                
                <div class='w-full mb-6 flex'>
                  <div class='flex-1'>
                    <h4 class='mb-1 text-slate-400 italic'>Other people working</h4>
                    <div class='' data-slide-over-target='otherPeopleWorking'></div>
                  </div>
                  <div class='flex-1'>
                    <h4 class='mb-1 text-slate-400 italic'>Food</h4>
                    <div class='' data-slide-over-target='food'></div>
                  </div>
                </div>

                <div class='w-full mb-6'>
                  <h4 class='mb-1 text-slate-400 italic'>Calls</h4>
                  <div class='flex items-center' data-slide-over-target='calls'>

                  </div>
                </div>

                <div class='w-full mb-6'>
                  <h4 class='mb-1 text-slate-400 italic'>Notes</h4>
                  <div class='flex items-center' data-slide-over-target='notes'>
          
                  </div>
                </div>


                <div class='w-full mb-2'>
                  <h4 class='mb-1 text-slate-400 italic'>Address</h4>
                  <div class='flex items-center' data-slide-over-target='address'>
          
                  </div>
                </div>

                <a src='#' target="_blank" data-slide-over-target='googleMapsLink' class='relative block'>
                  <div class='w-full h-48 rounded overflow-hidden' data-slide-over-target='map'>
                  </div>

                  <div class='w-full h-48 cursor-pointer absolute inset-0 outline outline-transparent outline-offset-0 hover:outline-blue-light rounded'>
                  </div>
                </a>

              </div>
              <!-- /End replace -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>