<div class='mx-auto lg:w-1/3 p-4 mt-6'>
  <%= form_with(model: [Cafe.new], local: true) do |form| %>
    <div class='flex flex-col gap-4'>
      <div class='flex-1'>
        <h2 class='font-serif font-bold mt-2 leading-7 text-4xl mb-4'>Request a new cafe</h2>
        <p>Fill in this form to request a new cafe to be added to the site.</p>
      </div>

      <div class='flex-1'>
        <%= form.label :name, 'Cafe name' %>
        <%= form.text_field :name, placeholder: 'Cafe Name', class: 'text-input w-full text-2xl' %>
      </div>


      <div class='flex-1'>
        <p class='mb-2 border-b border-btn-gray'>Fill in the google maps link or the address</p>
        <%= form.label :google_link, 'Google maps link' %>
        <%= form.text_field :google_link, placeholder: 'Google maps link', class: 'text-input w-full' %>
      </div>

      <div class='flex-1'>
        <%= form.label :address, 'Address' %>
        <%= form.text_field :address, placeholder: 'Address', class: 'text-input w-full ' %>
      </div>

      <div class='flex-1'>
        <%= form.label :notes, 'Notes' %>
        <%= form.text_area :notes, placeholder: 'Anything else we should know', class: 'text-input w-full' %>
      </div>

      <div class='flex-1'>
        <%= form.submit 'Send', class: 'btn btn-primary block w-full mt-4' %>
      </div>
    </div>
  <% end %>
</div>