<!DOCTYPE html>
<html>
  <head>
    <title>Mexico City Working Cafes</title>

    <meta name="description" content="Some of the best cafes in Mexico City for working">
    <meta name="keywords" content="Mexico City, CDMX, Cafes, Working Cafes, Working, Mexico, Remote work, ">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://unpkg.com/@popperjs/core@2"></script>

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_maps_api_key}" %>

    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6915652/6078012/css/fonts.css" />
  </head>

  <body class="bg-main-black text-slate-200">
    <%= render 'layouts/header' unless params[:no_header] %>

    <main class="<% unless params[:full_size] %> <% end %>">
      <%= yield %>
    </main>

    <div id="tooltip" role="tooltip"></div>
  </body>
</html>
